{% for type, actions in actions_by_type %}
  <h2>{{ type }}</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Label</th>
      <th>Provider</th>
      <th>Derived</th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions %}
      <tr>
        <td>{{ action.id }}</td>
        <td>{{ action.label }}</td>
        <td>{{ action.provider }}</td>
        <td>{{ action.derived }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endfor %}
